@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf);
}

/*
:root

*

aside ul {
    list-style-type: 
    list-style-position: inside;
    columns: 2;
}
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

:root {
    --cor-fundo: #84E1AD;
    --cor-verde1: #3CD782;
    --cor-verde2: #2A9559;
    --cor-verde3: #1A5C38;
    --cor-h2: #2a95587e;
    
    --fonte-padrao: , Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', sans-serif;
    --fonte-subtitulos: idroid;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-padrao);
}

a.externo {
    background-color: var(--cor-fundo);
}

a.externo::after {
    content: '\00A0\1F517';
}

p {
    text-align: justify;
    margin: 15px 0px 15px 0px;
    text-indent: 30px;
    font-weight: normal;
    font-size: 1.1em;
}

header {
    background-image: linear-gradient(to bottom, var(--cor-verde1), var(--cor-verde2), var(--cor-verde3));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    color: white;
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 4px #1a5c38b7;
}

header > p {
    color:  white;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 3px #1a5c38b7;
}

nav {
    background-color: var(--cor-verde3);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

a:hover {
    background-color: var(--cor-verde2);
    color: var(--cor-verde3);
}

main {
    background-color: white;
    min-width:300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.418);
    margin-bottom: 15px;
    border-radius: 0px 0px 10px 10px;
}

main > h1 {
    font-family: var(--fonte-subtitulos);
    font-size: 2em;
    color: var(--cor-verde3);
}

main > h2 {
    font-family: var(--fonte-subtitulos);
    color: var(--cor-verde3);
    background-image: linear-gradient(to right, var(--cor-h2), white);
    padding-left: 8px ;
}

main > p > a {
    color: var(--cor-verde3);
    text-decoration: none;
    font-weight: bold;
}

main > p > a:hover {
    background-color: white;
    color: var(--cor-verde3);
}

img {
    max-width: 100%;

}

.boneco {
    display: block;
    text-align: center;
    width: 50%;
    margin: auto;
}

div.video {
    background-color: var(--cor-verde3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside {
    background-color: var(--cor-fundo);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);
}

aside > h3 {
    background-color: var(--cor-verde2);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

aside > ul {
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > p > a {
    text-decoration: none;
}

footer {
    background-color: var(--cor-verde3);
    color: var(--cor-verde1);
    padding: 5px;
    
}

footer > p {
    margin: 0px;
    text-align: center;
    font-size: 1em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: var(--cor-verde3);
    color: white;
}